.failpage {
  box-sizing: border-box;
  display: flex;
 
  justify-content: center;
}

.failpage img {
  display: block;
  max-width: auto;
  height: 500px;
}

.failpage h1{
  color: rgb(245, 27, 27);
  position: absolute;
  margin-top: 430px;

}