.shopcategory-banner {
  display: block;
  height: auto;
  margin-bottom: 30px;
  width: 100%;
}

/* Adjust the margin for smaller screens */
.shopcategory-indexSort {
  display: flex;
  margin: 0 20px 20px;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shopcategory-indexSort p span {
  font-weight: 600;
}

/* Use media queries for responsive grid layout */
.shopcategory-allproducts,
.shopcategory-products {
  margin: 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
}

/* Increase the number of columns for larger screens */
@media (min-width: 576px) {
  .shopcategory-allproducts,
  .shopcategory-products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .shopcategory-allproducts,
  .shopcategory-products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .shopcategory-allproducts,
  .shopcategory-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.shopcategory-loadmore p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Adjust margin for smaller screens */
  width: 233px;
  height: 69px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
}

.shopcategory-loadmore p:hover {
  background-color: rgb(209, 205, 205);
  color: rgb(12, 94, 12);
}
