
.Adver {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
}

.Ad_Col_container {
  box-sizing: border-box;
  display: flex;
  height: 300px;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
  width: 100%;
  max-width: 300px; 
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  color: rgb(105, 105, 105);
  -webkit-font-smoothing: antialiased;
}

.Ad_Col-inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  color: rgb(105, 105, 105);
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 27px;
  text-size-adjust: 100%;
  color: rgb(105, 105, 105);
  -webkit-font-smoothing: antialiased;
}

.insight-icon-boxes--icon {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 10px;
}

.insight-icon-boxes--icon img {
  box-sizing: border-box;
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.insight-icon-boxes--inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.insight-icon-boxes-title {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(51, 51, 51);
}

.insight-icon-boxes-content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 260px; 
  height: 70px;
  font-size: 15px;
  color: rgb(105, 105, 105);
}

/* Responsive styles */
@media (max-width: 768px) {
  .Adver {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}
