.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(54, 54, 54);
  margin-top: 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.footer-logo img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.footer-contact {
  width: 100%;
  max-width: 530px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
p.desc {
  color: rgb(243, 248, 248);
  font-size: 14px; 
  font-weight: 600;
  gap: 10px;
  text-align: center; 
  width: 100%;
}

p.icon-contact {
  display: inline;
  width: 100%;
  margin-top: 15px;
  text-align: center;   
}

p.icon-contact a {
  font-size: 14px; 
  margin-left: 5px;
  color: azure;
  text-decoration: none;
}

.footer-copyright hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%; 
  margin-left: auto;
  margin-right: auto;
}

.footer-copyright p {
  color: aliceblue;
  text-align: center; 
}

@media screen and (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo img {
    margin-bottom: 0; 
  }

  .footer-contact{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
 
}