.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  background-color: rgb(54, 54, 54);
  margin-bottom: 10px;
  padding: 20px; /* Added padding for better spacing on mobile */
  justify-content: center;
  align-items: center; /* Center items horizontally on mobile */
}

.footer-container {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.footer-logo img {
  width: 60px; /* Adjusted logo size for better responsiveness on mobile */
  height: 60px; /* Adjusted logo size for better responsiveness on mobile */
  margin-bottom: 10px;
}

p.desc {
  color: rgb(243, 248, 248);
  font-size: 14px; /* Adjusted font size for better responsiveness on mobile */
  font-weight: 600;
  gap: 10px;
  text-align: center; /* Center text on mobile */
}

p.icon-contact {
  display: inline-block;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;   
}

p.icon-contact a {
  font-size: 12px; 
  margin-left: 3px;
}

.footer-copyright hr {
  margin-top: 10px;
  width: 60%; 
}

.footer-copyright p {
  color: aliceblue;
  text-align: center; 
}
