.orderhistory{
  display: flex;
  
  width: 100%;
  background: #fce3fe;
 
  align-items: center;
}

.orderhistory-container {
  padding: 20px;
 
}

@media (max-width: 768px) {
  .orderhistory{
    width: 100%;
    min-height: 80vh;
  }
  .orderhistory-container{
    padding: 20px;
  }
}


