.orderhistory{
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background: #fce3fe;
  min-height: 80vh;
  align-items: center;
}

.orderhistory-container {
  padding: 20px;
  height: 300px;
 
}

@media (max-width: 768px) {
  .orderhistory{
    width: 100%;
    min-height: 80vh;
  }
  .orderhistory-container{
    padding: 20px;
  }
}


