.popular{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: rgb(235, 239, 243);
    background: linear-gradient(180deg, #fde1ff 0%);
    margin-bottom: 150px;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 500;
    font-family: Roboto;
}
.popular hr{
    width: 200px;
    height: 3px;
    border-radius: 5px ;
    background: #252525;
}
.popular-item{
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}