.popular {
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(235, 239, 243);
  background: linear-gradient(180deg, #fde1ff 0%);
  margin-bottom: 50px;
}

.popular-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 20px;
}

.popular h1 {
  color: #171717;
  font-size: 2rem;
  font-weight: 500;
  font-family: Roboto;
  margin-top: 15px;
  text-align: center;
}

.popular hr {
  width: 30%;
  height: 3px;
  border-radius: 5px;
  background: #252525;
  margin-bottom: 30px;
}

.popular-item {
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.popular-itemcover {
  align-items: center;
  justify-content: space-around;
  display: flex;
  gap: 20px;
}
@media (max-width: 650px) {
  .popular-itemcover {
    flex-direction: column;
    align-items: center;
  }
}
